body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

#controls {
  text-align: center;
  margin: 10px;
}

#scene-container {
  width: 100%;
  height: 80vh;
}
